<!DOCTYPE html>
<html>
  <head>
    <title>BilingControl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%=new_bank_slip_path%>">Easy Bank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
      <%= link_to "Clients", clients_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "Bank Slips", bank_slips_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
      <%= yield %>
      </div>
    </main>
  </body>
</html>
